.card {
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 3px 10px 12px rgba($light-blue, 0.2);
    transition: all 0.4s ease-in;
}

.card-profile {
    position: relative;
    z-index: 1;
    height: 530px;
    object-position: center;
    // transition-delay: 0.2s;
    a {
        z-index: 2;
    }
    .card-footer-float {
        background: white;
        position: absolute;
        padding: 2rem;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        left: 0;
        right: 0;
        bottom: 0;
        div {
            span {
                i {
                    filter: $filter-blue;
                }
            }
        }
    }
}

.card-message {
    .message-body > * {
        font-size: 14px;
        color: $light-blue;
        font-weight: 400;
        min-height: 10%;
        > p img,
        img {
            max-width: 100%;
        }
    }
}
.items-count {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card-items-count {
    padding: 1rem;
    .more {
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            color: rgba($dark-blue, 0.5);
            filter: opacity(50%);
        }
        &:hover {
            i {
                filter: opacity(100%);
            }
        }
    }
}
.card-email {
    background-color: $blue;
    background-image: repeating-radial-gradient(
        circle,
        transparent 2px,
        transparent 7px,
        rgba(#fff, 0.3) 8px
    );
    transition: all 0.3s;

    .title {
        font-size: 90px;
        position: relative;
        color: rgba(#fff, 0.8);
        margin-top: 1rem;
        z-index: 2;
        &:after {
            content: "C";
            position: absolute;
            font-size: 148px;
            top: 0.2rem;
            left: 0;
            z-index: 1;
            font-weight: 700;
            color: rgba(#fff, 0.4);
        }
    }
    .link {
        color: white;
        border-bottom: 2px dashed white;
        transition: 0.5s;
        &:hover {
            border-bottom: 2px solid white;
        }
    }
}

.card-light-blue {
    background: rgba($blue, 0.2);
    .truncate-overflow::after {
        background: rgba($blue, 0.2);
    }
    p,
    .message-body > * {
        color: rgba($dark-blue, 0.5);
        font-weight: 500;
    }

    h4.title,
    h3 {
        color: $blue;
    }

    .action {
        i {
            filter: opacity(50%);
        }
    }
}
.shadow-sm {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

@include tablet {
    .card-profile {
        height: 430px;
    }
    .items-count {
        gap: 20px;
    }
}

@include desktop {
    .card-profile {
        height: 440px;
    }
    .items-count {
        gap: 30px;
    }
}
