.pagination {
    display: flex;
    align-items: center;
    background: white;
    padding: 12px 15px;
    border-radius: 8px;
    box-shadow: 0 7px 20px rgba($light-blue, 0.2);
    font-weight: 500;
    .page-item {
        padding: 6px 7.5px;
        // background-color: white;
        margin: 0 7.5px;
        border-radius: 8px;
        color: $dark-blue;
        list-style: none;
        .page-link {
            color: $dark-blue;
        }
        // box-shadow: 0 3px 6px rgba($dark-blue, 0.2);
        // border: 1px solid $blue;
        cursor: pointer;
        &.active {
            // background-color: $blue;
            color: $blue;
            .page-link {
                color: $blue;
            }
            &:hover {
                // background-color: darken($blue, 2);
                color: darken($blue, 2);
            }
        }
        &.disabled {
            // background-color: rgba($dark-blue, 0.2);
            color: $light-blue;
            border: none;
            cursor: no-drop;
            .page-link {
                color: $light-blue;
            }
            &:hover {
                // background-color: rgba($dark-blue, 0.2);
                color: $light-blue;
            }
        }
        &:hover {
            // background-color: rgba($blue, 0.2);
            color: $blue;
        }
    }
}
