h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 30px;
    color: $dark-blue;
    font-weight: bold;
}
h2 {
    font-size: 20px;
    color: $dark-blue;
    font-weight: 600;
}
h3 {
    font-size: 18px;
    color: $dark-blue;
    font-weight: 600;
}
h4 {
    font-size: 16px;
    color: $dark-blue;
    font-weight: 500;
}
h5 {
    font-size: 14px;
    color: $dark-blue;
    font-weight: 500;
}
.title {
    font-weight: 600;
    font-size: 26px;
    color: $dark-blue;
}
.headline {
    font-size: 14px;
    font-weight: 600;
}
.text-primary {
    color: $blue;
}
.text-dark-blue {
    color: $dark-blue;
}
.text-light-blue {
    color: $light-blue;
    filter: inherit;
}
.text-white {
    color: white;
}

.text-truncate > * {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-sm {
    font-size: 12px;
}

.font-bold {
    font-weight: bold;
}
.font-semibold {
    font-weight: 600;
}
.font-medium {
    font-weight: 500;
}

@include desktop {
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    .title {
        font-size: 30px;
    }
}
