* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    background: #f8f8f8;
    font-size: 14px;
    overflow-x: hidden;
}

.h-screen {
    height: 100vh;
}
.w-full {
    width: 100%;
}
.mw-full {
    max-width: 100%;
}
.w-1\/2 {
    width: 50%;
}
.w-auto {
    width: auto;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}
.bg-primary {
    background-color: $blue;
}
.bg-dark {
    background-color: $dark-blue;
    &.profile {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            height: calc(80px * 2);
            width: calc(80px * 2);
            border: 1px solid rgba($light-blue, 0.4);
            border-radius: 50%;
            z-index: 2;
            top: -3rem;
            right: -3rem;
        }
        &:after {
            content: "";
            position: absolute;
            height: 80px;
            width: 80px;
            background: rgba(white, 0.5);
            border-radius: 50%;
            z-index: 2;
            top: -1rem;
            right: -1rem;
        }
    }
}
.pointer {
    cursor: pointer;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

@include tablet {
    .sm\:w-1\/2 {
        width: 50% !important;
    }
}
@include desktop {
}
