* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    background: #f8f8f8;
    font-size: 14px;
}

.h-screen {
    height: 100vh;
}
.w-full {
    width: 100%;
}
.mw-full {
    max-width: 100%;
}
.w-1\/2 {
    width: 50%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}
.bg-primary {
    background-color: $blue;
}
.bg-dark {
    background-color: $dark-blue;
}
.pointer {
    cursor: pointer;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

@include tablet {
    .sm\:w-1\/2 {
        width: 50% !important;
    }
}
@include desktop {
}
