@keyframes pulse {
    0% {
        transform: translateY(30px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(30px);
    }
}
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all 0.3s ease;
}
.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}

.bounce-enter-active {
    animation: bounce-in 0.5s;
}
.bounce-leave-active {
    animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.transition {
    transition: all 0.4s ease;
}
.rotate-infinity {
    animation: rotating 2s linear infinite;
}
.ease {
    transition-timing-function: ease;
}
.rotate-180 {
    transform: rotate(180deg);
}
.rotate-full {
    transform: rotate(360deg);
}

.opacity-0 {
    opacity: 0;
}
.opacity-100 {
    opacity: 1;
}
.-translate-y-100 {
    transform: translateY(-100%);
}
.-translate-y-2 {
    transform: translateY(-0.2em);
}
.-translate-y-3 {
    transform: translateY(-0.3em);
}
.translate-y-0 {
    transform: translateY(0);
}
.translate-y-100 {
    transform: translateY(100%);
}
.translate-y-2 {
    transform: translateY(0.2em);
}
.translate-y-3 {
    transform: translateY(0.3em);
}
