.border-none {
    border: none !important;
}
.rounded-sm {
    border-radius: 4px;
}
.rounded-md {
    border-radius: 8px;
}
.rounded-lg {
    border-radius: 16px;
}
.rounded-full {
    border-radius: 50%;
}
